.App {
  text-align: center;
  font-family: Arial, sans-serif;
  padding: 20px;
  background: linear-gradient(45deg, #ff6b6b, #f06595, #fcab5e, #f8c6c0, #e7b9b9);
  background-size: 200% 200%;
  animation: waveAnimation 8s ease infinite;
  min-height: 100vh;
}

@keyframes waveAnimation {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

h1 {
  color: #fff;
  margin-bottom: 20px;
  font-size: 2.5rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  animation: bounce 2s infinite; /* Apply bounce animation */
}

.input-group {
  margin: 20px auto;
  max-width: 600px;
}

input {
  margin: 10px;
  padding: 12px;
  border: 2px solid #fff;
  border-radius: 8px;
  font-size: 1rem;
  width: 100%;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
  animation: pulse 2s infinite;
}

input:focus {
  border-color: #f06595;
  outline: none;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

p.fact {
  color: #fff;
  font-size: 1rem;
  margin: 10px;
  text-align: left;
  animation: fadeIn 1s ease-out;
}

p.error {
  color: #141414;
  font-size: 0.9rem;
  margin: 10px;
  animation: fadeIn 1s ease-out;
}

button:hover {
  background-color: #e7062b;
}
